### 2.10 서울시 구별 CCTV 현황 분석
- 서울시 자치구 연도별 방범용 CCTV 운영현황
- 서울시 주민등록 인구(구별 통계)

- cctv 갯수 : 2015년 ~ 2022년 계
- 최근 증가율 : (2020 ~ 2022) / 총 댓수 * 100
- 인구수 : 2023 1/4 분기 자료 
종로구 중구 용산구

In [113]:
import numpy as np
import pandas as pd

In [114]:
cctv = pd.read_csv('data/서울시 자치구 연도별 방범용 CCTV 운영 현황_230630기준.csv',encoding='EUC-KR', index_col='구분')
del cctv['Unnamed: 0']
cctv

      2015년  2016년  2017년  2018년  2019년  2020년  2021년  2022년   2023년
구분
종로구     935  1,066  1,225  1,322  1,338  1,526   1573   1812   1,808
중구      363    565    838  1,174  1,234  1,482   1911   2026   2,026
용산구   1,398  1,689  1,831  1,888  1,986  2,131   2321   2531   2,647
성동구   1,089  1,328  2,103  2,390  2,697  3,162   3519   3627   3,643
광진구     638    657  1,112  1,586  2,233  2,375   3111   3370   3,359
동대문구  1,202  1,425  1,535  1,775  1,969  2,142   2471   2592   2,592
중랑구     751    898  1,047  1,203  2,250  3,165   3592   3856   3,856
성북구   1,035  1,534  1,940  2,542  2,895  3,081   3815   4014   4,129
강북구     608    840    841  1,159  1,656  2,337   2960   3184   3,184
도봉구     345    443    542    679    835    979   1684   1994   2,120
노원구     956  1,268  1,433  1,577  1,763  2,021   2171   2284   2,281
은평구   1,719  2,075  2,310  2,669  3,164  3,431   3822   4103   4,103
서대문구    952  1,179  1,525  1,764  2,100  2,499   2591   2928   3,006
마포구     623    970  1,328  1,703  2,011  2,268   2372   2500   2,500
양천구   1,898  2,026  2,367  2,655  2,928  3,136   3393   3627   3,609
강서구     801    960  1,164  1,386  1,858  2,346   2637   3151   3,209
구로구   1,407  1,719  2,231  2,819  3,074  3,455   3842   4013   4,122
금천구     990  1,090  1,181  1,563  1,894  2,247   2276   2498   2,730
영등포구    904  1,140  1,429  2,055  2,093  3,250   3508   3896   3,964
동작구     961  1,200  1,471  1,690  1,904  2,155   2181   2404   2,402
관악구   1,496  2,048  2,611  3,247  3,800  4,071   3390   4029   4,245
서초구   1,548  1,785  2,169  2,582  2,938  3,175   3442   3180  3,180
강남구   2,319  3,447  4,232  4,834  5,459  5,796   6143   6495   6,495
송파구     713    798    913  1,364  2,052  2,372   2520   2805   2,821
강동구     670    863  1,134  1,596  1,871  2,475   2720   3086   3,088

In [115]:
del cctv['2023년']
cctv

      2015년  2016년  2017년  2018년  2019년  2020년  2021년  2022년
구분
종로구     935  1,066  1,225  1,322  1,338  1,526   1573   1812
중구      363    565    838  1,174  1,234  1,482   1911   2026
용산구   1,398  1,689  1,831  1,888  1,986  2,131   2321   2531
성동구   1,089  1,328  2,103  2,390  2,697  3,162   3519   3627
광진구     638    657  1,112  1,586  2,233  2,375   3111   3370
동대문구  1,202  1,425  1,535  1,775  1,969  2,142   2471   2592
중랑구     751    898  1,047  1,203  2,250  3,165   3592   3856
성북구   1,035  1,534  1,940  2,542  2,895  3,081   3815   4014
강북구     608    840    841  1,159  1,656  2,337   2960   3184
도봉구     345    443    542    679    835    979   1684   1994
노원구     956  1,268  1,433  1,577  1,763  2,021   2171   2284
은평구   1,719  2,075  2,310  2,669  3,164  3,431   3822   4103
서대문구    952  1,179  1,525  1,764  2,100  2,499   2591   2928
마포구     623    970  1,328  1,703  2,011  2,268   2372   2500
양천구   1,898  2,026  2,367  2,655  2,928  3,136   3393   3627
강서구     801    960  1,164  1,386  1,858  2,346   2637   3151
구로구   1,407  1,719  2,231  2,819  3,074  3,455   3842   4013
금천구     990  1,090  1,181  1,563  1,894  2,247   2276   2498
영등포구    904  1,140  1,429  2,055  2,093  3,250   3508   3896
동작구     961  1,200  1,471  1,690  1,904  2,155   2181   2404
관악구   1,496  2,048  2,611  3,247  3,800  4,071   3390   4029
서초구   1,548  1,785  2,169  2,582  2,938  3,175   3442   3180
강남구   2,319  3,447  4,232  4,834  5,459  5,796   6143   6495
송파구     713    798    913  1,364  2,052  2,372   2520   2805
강동구     670    863  1,134  1,596  1,871  2,475   2720   3086

In [116]:
for col in cctv.columns:
    if col in ['2021년', '2022년']:
        continue
    cctv[col] = cctv[col].str.replace(',', '').astype(int)

In [117]:
# 선생님 풀이
cctv = pd.read_csv('data/서울시 자치구 연도별 방범용 CCTV 운영 현황_230630기준.csv',encoding='EUC-KR', index_col='구분', thousands=',')

cctv.head(3)

     Unnamed: 0  2015년  2016년  2017년  2018년  2019년  2020년  2021년  2022년  2023년
구분
종로구           1    935   1066   1225   1322   1338   1526   1573   1812   1808
중구            2    363    565    838   1174   1234   1482   1911   2026   2026
용산구           3   1398   1689   1831   1888   1986   2131   2321   2531   2647

In [118]:
cctv.drop(columns=['Unnamed: 0', '2023년'], inplace=True)
cctv.head(3)

     2015년  2016년  2017년  2018년  2019년  2020년  2021년  2022년
구분
종로구    935   1066   1225   1322   1338   1526   1573   1812
중구     363    565    838   1174   1234   1482   1911   2026
용산구   1398   1689   1831   1888   1986   2131   2321   2531

In [119]:
cctv['CCTV댓수'] = cctv.sum(axis=1)
cctv.head(3)

     2015년  2016년  2017년  2018년  2019년  2020년  2021년  2022년  CCTV댓수
구분
종로구    935   1066   1225   1322   1338   1526   1573   1812   10797
중구     363    565    838   1174   1234   1482   1911   2026    9593
용산구   1398   1689   1831   1888   1986   2131   2321   2531   15775

In [120]:
cctv['최근증가율'] = ((cctv['2020년'] + cctv['2021년'] + cctv['2022년']) / cctv['CCTV댓수'] * 100).round(2)
cctv.head(3)

     2015년  2016년  2017년  2018년  2019년  2020년  2021년  2022년  CCTV댓수  최근증가율
구분
종로구    935   1066   1225   1322   1338   1526   1573   1812   10797  45.48
중구     363    565    838   1174   1234   1482   1911   2026    9593  56.49
용산구   1398   1689   1831   1888   1986   2131   2321   2531   15775  44.27

In [121]:
cctv['최근증가율'] = (cctv.iloc[:, 5:-2].sum(axis=1) / cctv['CCTV댓수'] * 100).round(2)
cctv.head(3)

     2015년  2016년  2017년  2018년  2019년  2020년  2021년  2022년  CCTV댓수  최근증가율
구분
종로구    935   1066   1225   1322   1338   1526   1573   1812   10797  45.48
중구     363    565    838   1174   1234   1482   1911   2026    9593  56.49
용산구   1398   1689   1831   1888   1986   2131   2321   2531   15775  44.27

In [122]:
cctv.drop(columns='2015년	2016년	2017년	2018년	2019년	2020년	2021년	2022년'.split(), inplace=True)
cctv.head(3)

     CCTV댓수  최근증가율
구분
종로구   10797  45.48
중구     9593  56.49
용산구   15775  44.27

### 2. 서울시 구별 주민등록 데이터

In [123]:
pop = pd.read_csv('data/서울시 구별 주민등록.csv',skiprows=1, thousands=',')
pop.head(5)

,동별(1),동별(2),세대 (세대),계 (명),한국인 (명),등록외국인 (명),세대당인구 (명),65세이상고령자 (명),세대 (세대).1,계 (명).1,한국인 (명).1,등록외국인 (명).1,인구밀도
0,합계,소계,4463385,9668008,9426404,241604,2.11,1690961,4469158,9659322,9414093,245229,2
1,합계,종로구,72679,152212,141060,11152,1.94,28265,72507,151349,140397,10952,2
2,합계,중구,63862,131390,120963,10427,1.89,25353,64375,132054,121441,10613,2
3,합계,용산구,109735,232482,217756,14726,1.98,39478,109679,232069,217288,14781,2
4,합계,성동구,133513,287240,280240,7000,2.10,48238,133484,286564,279374,7190,2

In [124]:
pop = pop[['동별(2)','계 (명)','한국인 (명)','등록외국인 (명)','65세이상고령자 (명)']]
pop.head(3)

  동별(2)    계 (명)  한국인 (명)  등록외국인 (명)  65세이상고령자 (명)
0    소계  9668008  9426404     241604       1690961
1   종로구   152212   141060      11152         28265
2    중구   131390   120963      10427         25353

In [125]:
pop.columns = ['구별','인구수','내국인','외국인','고령자']
pop.head(3)

    구별      인구수      내국인     외국인      고령자
0   소계  9668008  9426404  241604  1690961
1  종로구   152212   141060   11152    28265
2   중구   131390   120963   10427    25353

In [126]:
# 첫번째 행 지우기 
pop.drop([0], inplace=True)
pop.head(3)

    구별     인구수     내국인    외국인    고령자
1  종로구  152212  141060  11152  28265
2   중구  131390  120963  10427  25353
3  용산구  232482  217756  14726  39478

In [127]:
# 구별을 인덱스로 만들기 
pop.set_index('구별', inplace=True)
pop.head()

        인구수     내국인    외국인    고령자
구별
종로구  152212  141060  11152  28265
중구   131390  120963  10427  25353
용산구  232482  217756  14726  39478
성동구  287240  280240   7000  48238
광진구  350925  336801  14124  54854

In [128]:
# 외국인 비율
pop['외국인 비율'] = (pop.외국인 / pop['인구수'] * 100).round(2)
pop['고령자 비율'] = (pop['고령자'] / pop['인구수'] * 100).round(2)
pop.head()

        인구수     내국인    외국인    고령자  외국인 비율  고령자 비율
구별
종로구  152212  141060  11152  28265    7.33   18.57
중구   131390  120963  10427  25353    7.94   19.30
용산구  232482  217756  14726  39478    6.33   16.98
성동구  287240  280240   7000  48238    2.44   16.79
광진구  350925  336801  14124  54854    4.02   15.63

### 3. CCTV 데이터와 POP 데이터 합치기

In [129]:
so = pd.concat([cctv, pop], axis=1)
so.head()

     CCTV댓수  최근증가율     인구수     내국인    외국인    고령자  외국인 비율  고령자 비율
종로구   10797  45.48  152212  141060  11152  28265    7.33   18.57
중구     9593  56.49  131390  120963  10427  25353    7.94   19.30
용산구   15775  44.27  232482  217756  14726  39478    6.33   16.98
성동구   19915  51.76  287240  280240   7000  48238    2.44   16.79
광진구   15082  58.72  350925  336801  14124  54854    4.02   15.63

In [130]:
df = pd.merge(cctv, pop, left_index=True, right_index=True)
df.head()

     CCTV댓수  최근증가율     인구수     내국인    외국인    고령자  외국인 비율  고령자 비율
종로구   10797  45.48  152212  141060  11152  28265    7.33   18.57
중구     9593  56.49  131390  120963  10427  25353    7.94   19.30
용산구   15775  44.27  232482  217756  14726  39478    6.33   16.98
성동구   19915  51.76  287240  280240   7000  48238    2.44   16.79
광진구   15082  58.72  350925  336801  14124  54854    4.02   15.63

In [131]:
df.shape

(25, 8)

In [132]:
df.index.name = '구별'
df.head()

     CCTV댓수  최근증가율     인구수     내국인    외국인    고령자  외국인 비율  고령자 비율
구별
종로구   10797  45.48  152212  141060  11152  28265    7.33   18.57
중구     9593  56.49  131390  120963  10427  25353    7.94   19.30
용산구   15775  44.27  232482  217756  14726  39478    6.33   16.98
성동구   19915  51.76  287240  280240   7000  48238    2.44   16.79
광진구   15082  58.72  350925  336801  14124  54854    4.02   15.63

-  서울시 구별 CCTV 인구 현황

In [133]:
df.to_csv('data/서울시 구별 CCTV 인구 현황.csv')